*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   font-family: sans-serif;
   background-color: #F5F5F5;
}

/* HEADER */

header{
   background-color: #fff;
   width: 82.8%;
   float: right;
}


/* END HEADER */

/* ASIDE */

.logo img{
   width: 16.5%;
}

.nav-bar{
   background-color: #1a2f3a;
   list-style: none;
   width: 225px;
   padding: 12px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;

}

/* END ASIDE */

/* RESPONSIVE */

@media(max-width: 767px){
   .logo img{
      width: 19%;
   }

   header{
      width: 85.3%;
   }
}

/* END RESPONSIVE */